@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: #004040;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Open Sans", sans-serif;
}

.field {
    position: relative;
    overflow: hidden;
}

.field-tracker {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.8rem;
    color: #e8edf0;
    background: rgba(8, 105, 129, 0.788);
    border-radius: 0.2rem;
}

.field-input {
    border: none;
    outline: none;

    font-family: inherit;
    font-size: 1.3rem;

    padding: 0.8rem 2rem 0.8rem 0;
    min-width: 15rem;

    background: none;
    color: #d2d5dd;
    border-bottom: 0.15rem solid rgba(8, 105, 129, 0.788);
}

.field-input::placeholder {
    color: rgba(209, 227, 231, 0.788);
}

.field::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.15rem;

    transform: translateX(-100%);
    transition: transform 0.4s ease-out;

    background: #1cc562;
}

.field:hover::after,
.field:focus::after,
.field:focus-within::after {
    transform: translateX(0);
}
